/* ----------Custom Properties---------- */
:root {
    --first-color: #e1bcfe;
    --second-color: #3a3b45;
    --black-color: #000;
    --white-color: #fff;
    --link-color: #438ccc;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --font: 'Zen Antique', serif;
    --max-width: 1200px;
    --header-height: 4rem;
}

html {
    box-sizing: border-box; /* El tamaño de la caja irá desde el borde no desde el contenido */ 
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth; /* Para el efecto de transición que hay en el header, solo con css */
}

*,
*::after,
*::before {
    box-sizing: inherit; /* Que hereden el tamaño de caja, es decir del html */
}

body {
    margin: 0 auto;
    overflow-x: hidden; /* Con lo que desborda el contenedor, en x(horizontal) que oculte y evita la barra de desplazamiento */
    color: var(--second-color);
    background-color: var(--firts-color);
    max-width: 1440px; 
}

a {
    color: var(--link-color);
    transition: all 0.5s ease-out;
}

a:hover {
    opacity: 0.75;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

h3 {
    margin: 0;
    font-size: 1.25rem;
}

h4 {
    margin: 0;
    font-size: 1rem;
}

h5 {
    margin: 0;
    font-size: 0.85rem;
}

h6 {
    margin: 0;
    font-size: 0.7rem;
}

img {
    max-width: 100%;
    height: auto;
}

p { 
    line-height: 1.6; /* Espacio interlineado */
}

/* ----------Header---------- */
.header__container__menu__btn {
    outline: thin solid var(--second-color); /* Ese margen o linea que da el botón por defecto que sea delgado y sólido, con color */
    border: 0; /* borde por defecto */
    cursor: pointer;
    color: var(--second-color); 
    background-color: var(--first-color);
}

.header__container__menu__btn svg {
    fill: var(--second-color); 
}

.header__container__menu {
    background-color: var(--first-color);
    position: fixed;/* Al tener una posicion fixed pierde sus propiedades de ancho y alto */
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    /* pointer-events: none; *//* si activamos o no la reacción a interactividad, porque por mas que la opacidad sea 0, al pasar sobre el elemento se ve la manito */
    /* opacity: 0; */ 
    transition: opacity 0.5s ease; /* transicion a la opacidad con efecto de aceleración normal */
}

.header__container__menu.is-active { /* Le añado una clase */
    opacity: 1;
    pointer-events: auto;
}
.header__container__menu a {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--second-color);
}
/* .header__container__menu a:hover {  hover en mobile?
    color: var(--first-color);
    background-color: var(--second-color);
} */

/* ----------Header - Media query---------- */
@media screen and (min-width: 1024px) {
    .header__container__menu__btn {
        display: none;
    }
    .header__container__menu {
        position: static; /* vuelve a su valor normal */
        width: auto; /* se adapte al ancho que tengan los enlaces */
        flex-direction: row;
        opacity: 1;
        pointer-events: auto;
    }
    .header__container__menu a {
        padding: 0 1rem;
    }
    .header__container__menu a:last-child {
        padding-right: 0;
      }
    .header__container__menu a:hover {
        background-color: transparent;
    }
}