/* Min 360px */
.bar {
    background-color: var(--first-color);
    width: 100%;
    height: 10vh;
}
.bar__container {

}
.bar__container__logo {

}
/* desktop
    width: 12rem;
    height: 100vh;
*/
.logo {
    border-radius: 50%;
}

.bar__container__menu__btn {
    border: 0;
    cursor: pointer;
    outline: thin solid var(--first-color);
    background-color: var(--second-color);  
}

.bar__container__menu__btn svg {
    fill: var(--first-color);
}
