/* ----------Custom Properties---------- */
:root {
  --first-color: #e1bcfe;
  --second-color: #3a3b45;
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --link-color: #509ee3;
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: 'Zen Antique', serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

html {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--second-color);
  height: 100%; /*  */
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  /* Con lo que desborda el contenedor, en x(horizontal) que oculte y evita la barra de desplazamiento */
  color: var(--text-color); /*  --text-color*/
  background-color: var(--first-color);
  max-width: 1440px; 
  font-family: var(--font);
}

*,
*::after,
*::before {
    box-sizing: inherit;
  /* Que hereden el tamaño de caja, es decir del html */
}

/* a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
} */

img {
  max-width: 100%;
  height: auto;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

.none {
  display: none;
} 

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}